<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>About Us</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<%- include navibar.ejs %>

<div class="parallax-container section" style="margin-top: -2%">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Contact Us</h1>
            <div class="row center">
                <h5 class="header col s12 light">More Info</h5>
            </div>
            <div class="row center">

            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <div class="row">
            <h3 class="center">Have a query?</h3>
            <p class="center">You can contact us at</p>

        </div>
        <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Contact</h5>

                        <p class="center light">Info</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Contact</h5>

                        <p class="center light">Info</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Contact</h5>

                        <p class="center light">Info</p>
                    </div>
                </div>
        </div>

    </div>
</div>

        <div class="row">

            <div class="col s12 m8">
            <div class="col s12 m6">
                <div class="icon-block">

                    <h5 class="center">Info</h5>

                    <p class="center light">Info</p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">

                    <h5 class="center">Info</h5>

                    <p class="center light">Info</p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">

                    <h5 class="center">Info</h5>

                    <p class="center light">Info</p>
                </div>
            </div>

             <div class="col s12 m6">
                 <div class="icon-block">

                      <h5 class="center">Info</h5>

                      <p class="center light">Info</p>
                 </div>
             </div>
        </div>


            <div id="//map" class="col s12 m4">

                Map

            </div>

        </div>






<%- include foot.ejs %>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/initpara.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap"></script>
</body>
</html>