<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>FAQs</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>

<%- include navibar.ejs %>


<div class="container">
    <h1 class="header center teal-text text-lighten-2">FAQs</h1>
<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header"><i class="material-icons">info_outline</i>First</div>
        <div class="collapsible-body"><span>Answer</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">info_outline</i>Second</div>
        <div class="collapsible-body"><span>Answer</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">info_outline</i>Third</div>
        <div class="collapsible-body"><span>Answer</span></div>
    </li>
</ul>
</div>

<%- include foot.ejs %>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/initpara.js"></script>
</body>
</html>