<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>About The Competition</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>

<%- include navibar.ejs %>


<div class="fullscreen slider">
    <ul class="slides">
        <li>
            <img src="/images/home.jpg">
            <div class="caption center-align">
                <h3>Tagline</h3>
                <h5 class="light grey-text text-lighten-3">Random stuff</h5>
            </div>
        </li>
        <li>
            <img src="/images/home.jpg">
            <div class="caption left-align">
                <h3>Tagline</h3>
                <h5 class="/images/home.jpg">Random stuff</h5>
            </div>
        </li>
        <li>
            <img src="/images/home.jpg">
            <div class="caption right-align">
                <h3>Tagline</h3>
                <h5 class="light grey-text text-lighten-3">Random stuff</h5>
            </div>
        </li>
    </ul>
</div>


<ul id="slide-out" class="side-nav">
    <li><a class="black-text text-lighten-3" href="#">Album1</a></li>
    <li><a class="black-text text-lighten-3" href="#">Album2</a></li>
    <li><a class="black-text text-lighten-3" href="#">Album3</a></li>
    <li><a class="black-text text-lighten-3" href="#">Album4</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse1"><i class="black-text small material-icons target" style="z-index:200; right:30px; padding-top: 15px; float:right">menu</i></a>



<%- include foot.ejs %>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/initpara.js"></script>
</body>
</html>