<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

    <title>Workshop</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/timeline.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>

<body>

<%- include navibar.ejs %>



<nav class="white" role="navigation" style="position:fixed; z-index: 90;margin-top: -50px">
    <div class="nav-wrapper container">
        <ul class="section table-of-contents">
            <li><a href="#banner1">Section1</a></li>
            <li><a href="#banner2">Section2</a></li>
            <li><a href="#banner3">Section3</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
        </ul>
    </div>
</nav>


<div id="banner1" class="parallax-container section scrollspy">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Kabaad Ka Jugaad</h1>
            <div class="row center">
                <h5 class="header col s12 light">Da Da Da Da Da</h5>
            </div>
            <div class="row center">

            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"></h2>
                    <h5 class="center">Da Da Da Da Da</h5>

                    <p class="light">Da Da Da Da Da</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"></h2>
                    <h5 class="center">Da Da Da Da Da</h5>

                    <p class="light">Da Da Da Da Da</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"></h2>
                    <h5 class="center">Da Da Da Da Da</h5>

                    <p class="light">Da Da Da Da Da</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="banner2" class="parallax-container valign-wrapper section scrollspy">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Da Da Da Da Da</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h4>Contact Us</h4>
                <p class="left-align light">Da Da Da Da Da</p>
            </div>
        </div>

    </div>
</div>


<div id="banner3" class="parallax-container valign-wrapper section scrollspy">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Da Da Da Da Da</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 3"></div>
</div>





<div class="row" style="margin: 0% 0 -20px 0;">

    <a href="#" class="white-text"><div class="col s12 m6 abc" style="height:200px; padding-top: 3%;">

            <h5 class="center">Introduction</h5>

            <h5 class="center"><br><i class="small material-icons" style="font-size:3rem">info</i></h5>
        </div>
    </a>
    <a href="#" class="white-text"><div class="col s12 m6 abc" style="height:200px; padding-top: 3%;">

            <h5 class="center">Want it organized for you?</h5>

            <h5 class="center"><i class="large material-icons">trending_flat</i></h5>
        </div>
    </a>

</div>







<%- include foot.ejs %>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/initpara.js"></script>
<script src="/js/materialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>