<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Kabaad Ka Jugaad</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>

<%- include navibar.ejs %>

<nav class="white" role="navigation" style="position:fixed; z-index: 90;margin-top: -50px">
  <div class="nav-wrapper container">
<ul class="section table-of-contents">
  <li><a href="#banner1">Section1</a></li>
  <li><a href="#banner2">Section2</a></li>
  <li><a href="#banner3">Section3</a></li>
</ul>

    <ul id="nav-mobile" class="side-nav">
    </ul>
  </div>
</nav>


<div id="banner1" class="parallax-container section scrollspy">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Workshop</h1>
      <div class="row center">
        <h5 class="header col s12 light">Da Da Da Da Da</h5>
      </div>
      <div class="row center">

      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"></h2>
          <h5 class="center">Da Da Da Da Da</h5>

          <p class="light">Da Da Da Da Da</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"></h2>
          <h5 class="center">Da Da Da Da Da</h5>

          <p class="light">Da Da Da Da Da</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"></h2>
          <h5 class="center">Da Da Da Da Da</h5>

          <p class="light">Da Da Da Da Da</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div id="banner2" class="parallax-container valign-wrapper section scrollspy">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Da Da Da Da Da</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h4>Contact Us</h4>
        <p class="left-align light">Da Da Da Da Da</p>
      </div>
    </div>

  </div>
</div>


<div id="banner3" class="parallax-container valign-wrapper section scrollspy">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Da Da Da Da Da</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 3"></div>
</div>

<%- include foot.ejs %>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/initpara.js"></script>

</body>
</html>
