<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Kabaad Ka Jugaad</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>

<%- include navibar.ejs %>


<div id="banner1" class="parallax-container section scrollspy">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Kabaad Ka Jugaad</h1>
      <div class="row center">
        <h5 class="header col s12 light">Da Da Da Da Da</h5>
      </div>
      <div class="row center">

      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"></h2>
          <h5 class="center">Da Da Da Da Da</h5>

          <p class="light">Da Da Da Da Da</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"></h2>
          <h5 class="center">Da Da Da Da Da</h5>

          <p class="light">Da Da Da Da Da</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"></h2>
          <h5 class="center">Da Da Da Da Da</h5>

          <p class="light">Da Da Da Da Da</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div id="banner2" class="parallax-container valign-wrapper section scrollspy">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Da Da Da Da Da</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Da Da Da Da Da</p>
      </div>
    </div>

  </div>
</div>


<div id="banner3" class="parallax-container valign-wrapper section scrollspy">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Da Da Da Da Da</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">Da Da Da Da Da</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Other Sub Domains</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      A Project By <a class="white-text text-lighten-3" href="#"><b>Proinnovate</b></a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/initpara.js"></script>

</body>
</html>
