<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<%- include navibar.ejs %>



<div class="container">
    <div class="col s7">
            <ul class="tabs">

                <li class="tab col s2"><a class="active" href="#mem1">Member 1</a></li>
                <li class="tab col s2"><a href="#mem2">Member 2</a></li>
                <li class="tab col s2"><a href="#mem3">Member 3</a></li>
                <li class="tab col s2"><a href="#mem4">Member 4</a></li>
                <li class="tab col s2"><a href="#mem5">Member 5</a></li>

            </ul>
    </div>

    <form class="col s12" method="post" action="regis/submit">

    <% for(var i=1;i<=5;i++){ %>

        <%- include rform.ejs%>

    <% } %>

        <div class="row" style="padding-left: 5%">
        <div class="input-field col s3"><br>
            <select name="cat">
                <option value="" disabled selected>Choose a category</option>
                <option value="cat1">Category 1: Name</option>
                <option value="cat2">Category 2: Name</option>
                <option value="cat3">Category 3: Name</option>
                <option value="cat4">Category 4: Name</option>
                <option value="cat5">Category 5: Name</option>
            </select>
            <label for="cat" style="font-size:1rem">Category</label>
        </div>
        </div>

    <div class="row" style="padding-left: 5%">
        <div class="input-field col s3">
            <button class="btn waves-effect waves-light" type="submit">Submit</button>
        </div>
    </div>
    </form>


</div>

<%- include foot.ejs %>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/initpara.js"></script>
</body>
</html>