<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
</head>
<body>
<%- include navibar.ejs %>


<!-- <div class="row">
    <form name="form1" class="col s12" method="post" action="regisform/submit">
        <div class="row">
            <div class="input-field col s6"><br>
                <input name="fname" type="text" class="validate">
                <label for="fname">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6"><br>
                <input name="lname" type="text" class="validate">
                <label for="lname">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6"><br>
                <input name="contact" type="number" class="validate"y]>
                <label for="contact">Contact No</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6"><br>
                <button class="btn waves-effect waves-light" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div> -->

<div class="progress">
    <div class="determinate" style="width: 30%"></div>
</div>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#mem1">Member 1</a></li>
                <li class="tab col s3"><a href="#mem2">Member 2</a></li>
                <li class="tab col s3"><a href="#mem3">Member 3</a></li>
                <li class="tab col s3"><a href="#mem4">Member 4</a></li>
            </ul>
        </div>
    </div>
        <div id="mem1" class="col s12 container">Member 1</div>
        <div id="mem2" class="col s12 container">Member 2</div>
        <div id="mem3" class="col s12 container">Member 3</div>
        <div id="mem4" class="col s12 container">Member 4</div>




</body>
</html>