<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Workshop</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/timeline.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <style>

        .abc{
            background-color: teal;
        }

        .abc:hover{
            background-color: #009688;
            z-index: 50;
        }


    </style>


</head>

<body>

<%- include navibar.ejs %>

<div class="parallax-container section" style="margin-top: -20px;">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Workshop</h1>
            <div class="row center">
                <h5 class="header col s12 light">Da Da Da Da Da</h5>
            </div>
            <div class="row center">

            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/images/home.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h4>Short Description</h4>
                <p class="center-align light">Da Da Da Da Da</p>
            </div>
        </div>

    </div>



    <div class="timeline">
        <div class="timeline-event">
            <div class="card timeline-content">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/home.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Day 1: Session 1<i class="material-icons right">more_vert</i></span>
                    <p class="grey-text">11:00am - 2:00pm</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Day 1: Session 1<i class="material-icons right">close</i></span>
                    <p>More info</p>
                </div>
            </div>
            <div class="timeline-badge green white-text"><i class="material-icons">schedule</i></div>
        </div>



        <div class="timeline-event">
            <div class="card timeline-content">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/home.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Day 1: Session 2<i class="material-icons right">more_vert</i></span>
                    <p class="grey-text">11:00am - 2:00pm</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Day 1: Session 2<i class="material-icons right">close</i></span>
                    <p>More info</p>
                </div>
            </div>
            <div class="timeline-badge green white-text"><i class="material-icons">schedule</i></div>
        </div>


        <div class="timeline-event">
            <div class="card timeline-content">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/home.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Day 2: Session 1<i class="material-icons right">more_vert</i></span>
                    <p class="grey-text">11:00am - 2:00pm</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Day 2: Session 1<i class="material-icons right">close</i></span>
                    <p>More info</p>
                </div>
            </div>
            <div class="timeline-badge green white-text"><i class="material-icons">schedule</i></div>
        </div>


        <div class="timeline-event">
            <div class="card timeline-content">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/home.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Day 2: Session 2<i class="material-icons right">more_vert</i></span>
                    <p class="grey-text">11:00am - 2:00pm</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Day 2: Session 2<i class="material-icons right">close</i></span>
                    <p>More info</p>
                </div>
            </div>
            <div class="timeline-badge green white-text"><i class="material-icons">schedule</i></div>
        </div>
    </div>

</div>

    <div class="row" style="margin: 3% 0 -20px 0;">

        <a href="#" class="white-text"><div class="col s12 m6 abc" style="height:200px; padding-top: 3%;">

                <h5 class="center">Contact Us</h5>

            <h5 class="center"><br><i class="small material-icons">info</i></h5>
        </div>
        </a>
        <a href="#" class="white-text"><div class="col s12 m6 abc" style="height:200px; padding-top: 3%;">

                <h5 class="center">Want it organized for you?</h5>

                <h5 class="center"><i class="large material-icons">trending_flat</i></h5>
            </div>
        </a>

    </div>







<%- include foot.ejs %>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/initpara.js"></script>
<script src="/js/materialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>