.timeline {
    position: relative;
}

.timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
}

.timeline .timeline-event .desc-right {
    position: relative;
    margin-left: calc(50% + 50px);
    width: calc(50% - 50px);
    top: -450px;
}

.timeline .timeline-event .desc-left {
    position: relative;
    margin-left:0;
    width: calc(50% - 50px);
    top: -450px;
}

.timeline .timeline-event::before {
    display: block;
    content: "";
    width: 3px;
    height: calc(50% - 40px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
}

.timeline .timeline-event::after {
    display: block;
    content: "";
    width: 3px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
    display: none;
}

.timeline .timeline-event:last-child::after {
    display: none;
}

.timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #d2d2d2;
    top: calc(50% - 30px);
    right: calc(50% - 25px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
    font-size: 35px;
}

.timeline .timeline-badge i {
    font-size: 40px;
    line-height: 60px;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
}

@media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
        width: calc(100% - 60px);
    }
    .timeline .timeline-event::before {
        left: 20px;
    }
    .timeline .timeline-event::after {
        left: 20px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: 60px;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 60px;
    }
    .timeline .timeline-badge {
        left: -5px;
    }
    .timeline .timeline-event .desc-left {
        margin-left:60px;
        top: 0px;
    }
    .timeline .timeline-event .desc-right {
        margin-left:60px;
        top: 0px;
    }
}

.second-footer{
    background-color: teal;
}

.second-footer:hover{
    background-color: #009688;
    z-index: 50;
}